{% extends "index.html" %}

{% block content %}

<div class="card">

<h1>

⚙ Account Settings

</h1>

<p>

Manage Doctor Profile and Preferences.

</p>

<br>


<form style="text-align:left;">


<!-- PROFILE SECTION -->

<h2>

👨‍⚕ Doctor Profile

</h2>

<label>

Doctor Name

</label>

<input

value="Dr MohanKrishna"

style="width:100%;padding:12px;margin-bottom:12px;">


<label>

Email Address

</label>

<input

value="mohankrishna@email.com"

style="width:100%;padding:12px;margin-bottom:12px;">


<label>

Hospital Name

</label>

<input

value="ApexCare Medical Centre"

style="width:100%;padding:12px;margin-bottom:12px;">


<button

style="

padding:13px;

border:none;

border-radius:10px;

background:

linear-gradient(45deg,#00ffd0,#0072ff);

color:white;

cursor:pointer;

">

Save Profile

</button>


<br><br>


<!-- NOTIFICATIONS -->

<h2>

🔔 Notification Settings

</h2>


<label>

<input type="checkbox" checked>

 Email Alerts

</label>

<br>

<label>

<input type="checkbox" checked>

 High Risk Patient Alerts

</label>

<br>

<label>

<input type="checkbox">

 Weekly Diagnosis Report

</label>


<br><br>


<!-- APPEARANCE -->

<h2>

🎨 Appearance

</h2>

<label>

<input type="checkbox">

 Enable Dark Mode

</label>


<br><br>


<!-- ACCOUNT -->

<h2>

🚪 Account

</h2>

<a href="/logout">

<button

style="

width:100%;

padding:15px;

border:none;

border-radius:12px;

background:#b83b3b;

color:white;

cursor:pointer;

">

Logout Account

</button>

</a>


</form>

</div>

{% endblock %}