{% extends "index.html" %}

{% block content %}

<style>

/* RESULT BOX */

.result-box{

margin-top:25px;

padding:20px;

border-radius:15px;

font-weight:500;

}


/* HIGH RISK */

.risk{

background:#ffd6d6;

color:#b00020;

border-left:6px solid red;

}


/* LOW RISK */

.safe{

background:#d6ffe5;

color:#006b2c;

border-left:6px solid green;

}

</style>



<div class="card">

<h2>

❤️ Heart Disease Check

</h2>

<p>

Enter basic patient details to predict heart risk.

</p>

<br>


<form action="/predict" method="POST"

style="text-align:left;">


<label>Age</label>

<input
name="age"
type="number"
required

style="width:100%;padding:12px;margin-bottom:12px;">


<label>Blood Pressure</label>

<input

name="bp"
type="number"

placeholder="Normal : 120"

required

style="width:100%;padding:12px;margin-bottom:12px;">


<label>Cholesterol Level</label>

<input

name="chol"

type="number"

placeholder="Normal : Below 200"

required

style="width:100%;padding:12px;margin-bottom:15px;">


<button

style="

width:100%;

padding:15px;

border:none;

border-radius:12px;

background:

linear-gradient(45deg,#00ffd0,#0072ff);

color:white;

font-size:17px;

cursor:pointer;

">

Predict Heart Risk

</button>

</form>



<!-- RESULT -->

{% if result %}

<div class="result-box

{% if result=='High Risk' %}

risk

{% else %}

safe

{% endif %}

">

<h3>

{{result}}

</h3>

<p>

{{message}}

</p>

</div>

{% endif %}

</div>

{% endblock %}
